<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itcasthd.mobilesafe"
    android:versionCode="9"
    android:versionName="1.0.8" >

    <!-- android:versionCode:本地应用版本号是1 ，服务器版本号是2 ，所以需要提示更新数据 -->
    <!--
           android:versionName:
    			版本名称  1.0.0:
    				最后一位 代表修复原有版本的BUG,
    				倒数第二位代表更新部分功能或增加了部分功能
    				 第一位代表项目重大更新，代码重构，大部分功能的添加,界面的整体修改  
    -->

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    <!--
    	android:minSdkVersion   最小android运行版本
    	android:targetSdkVersion   运行在那个版本上面
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.itcasthd.mobilesafe.splashActivity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 配置自定义的清单文件 -->
        <activity android:name="com.itcasthd.mobilesafe.mainActivity.MainActivity" >
        </activity>
        <!-- 配置设置Activity -->
        <activity android:name="com.itcasthd.mobilesafe.settingActivity.SettingActivity" >
        </activity>
        <!-- 配置测试的Activity -->
        <activity android:name="com.itcasthd.mobilesafe.testActivity.TestActivity" >
        </activity>

        <!-- 手机防盗activity配置 -->
        <!-- 列表 -->
        <activity android:name="com.itcasthd.mobilesafe.tetupoverActivity.SetUpOverActivity" >
        </activity>
        <!-- 配置界面1 -->
        <activity android:name="com.itcasthd.mobilesafe.tetupoverActivity.SetUp1Activity" >
        </activity>
        <!-- 配置界面2 -->
        <activity android:name="com.itcasthd.mobilesafe.tetupoverActivity.SetUp2Activity" >
        </activity>
        <!-- 配置界面3 -->
        <activity android:name="com.itcasthd.mobilesafe.tetupoverActivity.SetUp3Activity" >
        </activity>
        <!-- 配置界面4 -->
        <activity android:name="com.itcasthd.mobilesafe.tetupoverActivity.SetUp4Activity" >
        </activity>
        <!-- 选择联系人 -->
        <activity android:name="com.itcasthd.mobilesafe.tetupoverActivity.ContactListActivity" >
        </activity>
        <!-- 高级工具 -->
        <activity android:name="com.itcasthd.mobilesafe.atoolActivity.AToolActivity" >
        </activity>
        <!-- 归属地查询 -->
        <activity android:name="com.itcasthd.mobilesafe.atoolActivity.QueryAddressActivity" />
        <!-- 设备管理器 -->
        <activity android:name="com.itcasthd.mobilesafe.appManager.AppManagerActivity"></activity>
        
        <!-- 设置归属地显示的位置 -->
        <activity
            android:name="com.itcasthd.mobilesafe.settingActivity.ToastLocation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- 黑名单设置 -->
        <activity android:name="com.itcasthd.mobilesafe.blackNumberActivity.BlackNumberActivity"></activity>
        <!-- 进程管理 -->
        <activity android:name="com.itcasthd.mobilesafe.process.ProcessManagerActivity"></activity>
        <!-- 广播接收者 -->
        <!-- 开机启动 -->
        <receiver android:name="com.itcasthd.mobilesafe.receuver.BootReceiver" >
            <intent-filter android:priority="0x7FFFFFFF" >

                <!-- 开机启动 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- 短信广播 -->
        <receiver android:name="com.itcasthd.mobilesafe.receuver.SmsReceiver" >
            <intent-filter android:priority="0x7FFFFFFF" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
  		<!-- 拨打电话广播 -->
        <receiver android:name="com.itcasthd.mobilesafe.receuver.CallTelephone" >
            <intent-filter android:priority="0x7FFFFFFF">
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>
        <!-- 设备管理器 -->
        <receiver
            android:name="com.itcasthd.mobilesafe.receuver.DeviceAdminRecever"
            android:description="@string/device_description"
            android:label="@string/device_lable" >

            <!-- android:resource   这个是自己在res文件夹下创建的一个xml文件 -->
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!-- 服务 -->
        <service android:name="com.itcasthd.mobilesafe.service.LocationService" >
        </service>
        <!-- 来电开启电话服务 -->
        <service android:name="com.itcasthd.mobilesafe.service.AddressService" >
        </service>
        <!-- 小火箭 -->
        <service android:name="com.itcasthd.mobilesafe.service.BlackNumberService"></service>
    </application>

</manifest>